:root {
    --header-color: 215, 215, 215;
    --text-color: 0,0,0;
}
* {
    background: rgba(var(--header-color), 1);
    color: rgba(var(--text-color), 1);
}
body {
	display: flex;
	flex-direction: column;
}
header {
	position: relative;
	left: -18px;
	top: -18px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
	width: 100vw;
	background: rgba(var(--header-color), 0.75);
    color: rgba(var(--text-color), 1);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
}
main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    background: none;
}
